@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/gothaproreg-webfont.eot');
    src: url('../fonts/gothaproreg-webfont.eot') format('embedded-opentype'),
         url('../fonts/gothaproreg-webfont.woff') format('woff'),
         url('../fonts/gothaproreg-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'GothamMedium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/gothapromed-webfont.eot');
    src: url('../fonts/gothapromed-webfont.eot') format('embedded-opentype'),
         url('../fonts/gothapromed-webfont.woff') format('woff'),
         url('../fonts/gothapromed-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'GothamBold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/gothaprobol-webfont.eot');
    src: url('../fonts/gothaprobol-webfont.eot') format('embedded-opentype'),
         url('../fonts/gothaprobol-webfont.woff') format('woff'),
         url('../fonts/gothaprobol-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'GothamBlack';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/gothaprobla-webfont.eot');
    src: url('../fonts/gothaprobla-webfont.eot') format('embedded-opentype'),
         url('../fonts/gothaprobla-webfont.woff') format('woff'),
         url('../fonts/gothaprobla-webfont.ttf') format('truetype');
}



