/* =====================================================================
					        MAIN STYLE
======================================================================== */

@import url("reset.css");
@import url("fonts.css");
@import url("asd.css");

html, body { position: relative; min-width: 950px; min-height: 550px; }
body { overflow-y: scroll; }

input, textarea { color: #232323; outline: none; font-family: 'GothamBold', Arial, sans-serif; margin: 0; }
a, span { font: inherit; color: inherit; outline: none; }
textarea { overflow: auto; resize: none; }
body { font-family: 'GothamBold', Arial, sans-serif; background: white; color: #232323; }

h1 { margin-bottom: 20px; font: normal 46px 'GothamBold', Arial, sans-serif; }
h2 { margin-bottom: 15px; font: normal 36px 'GothamBold', Arial, sans-serif; }
h3 { margin-bottom: 15px; font: normal 32px 'GothamBold', Arial, sans-serif; }
h4 { margin-bottom: 15px; font: normal 28px 'GothamBold', Arial, sans-serif; }
h5 { margin-bottom: 15px; font: normal 24px 'GothamBold', Arial, sans-serif; }
h6 { margin-bottom: 15px; font: normal 20px 'GothamBold', Arial, sans-serif; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #595959; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #595959; }






/****************************************** COMMON ****************************************************/

.b-content, .b-content_in, .b-pages, .b-page { position: relative; }
.b-page { background: white; }

.b-red_bg { background: #cc1d1d; }
.b-red_text { color: #ff2c2c; }

.b-main_bg { position: relative; height: 430px; color: white; }
.b-main_bg_title { font-size: 60px; font-family: 'GothamBlack', Arial, sans-serif; padding-top: 190px; text-transform: uppercase; text-align: center; }
.b-main_bg_line { height: 1px; width: 45px; border-top: 2px solid white; text-align: center; margin: 30px auto 0; }
.b-main_bg_text { font-size: 14px; width: 400px; margin: 30px auto 0; font-family: 'GothamMedium', Arial, sans-serif; text-align: center; }

.b-block { position: relative; float: left; height: 100%; overflow: hidden; }
.b-half_block { position: relative; height: 50%; overflow: hidden; }
.b-block_50 { width: 50%; }
.b-block_40 { width: 40%; }
.b-block_25 { width: 25%; }
.b-block_20 { width: 20%; }

.b-title { font-size: 200%; font-family: 'Gotham', Arial, sans-serif; line-height: 1.3; color: #232323; }
.b-text { font-size: 90%; font-family: 'GothamMedium', Arial, sans-serif; margin-top: 4%; line-height: 1.7; color: #232323; }
.b-line_in_text { display: inline-block; height: 2px; width: 40px; background: #000000; vertical-align: middle; margin-bottom: 0.5%; }

.b-slide_link { padding: 2px 50px 2px 0; background: url('../img/arrow.png') right center no-repeat; }

.b-button {
    display: inline-block; vertical-align: top; border: 2px solid black; padding: 13px 28px 12px 41px; font-size: 11px;
    background: url('../img/arrow_button.png') 14px center no-repeat; color: #232323; text-transform: uppercase;
}



/************************************************ PRELOADER *******************************************/

.b-preloader_in { width: 50px; height: 60px; }

.b-preloader_item {
    background-color: #cc1d1d; height: 100%; width: 6px; display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out; animation: stretchdelay 1.2s infinite ease-in-out;
}
.b-preloader_item_2 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }
.b-preloader_item_3 { -webkit-animation-delay: -1.0s; animation-delay: -1.0s; }
.b-preloader_item_4 { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }
.b-preloader_item_5 { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }

@-webkit-keyframes stretchdelay { 0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 20% { -webkit-transform: scaleY(1.0) } }
@keyframes stretchdelay { 0%, 40%, 100% { transform: scaleY(0.4); -webkit-transform: scaleY(0.4); }  20% { transform: scaleY(1.0); -webkit-transform: scaleY(1.0); } }




/************************************************* HEADER *******************************************/

.b-header { height: 60px; background: url('../img/download_pdf_bg.png') left bottom repeat-x white; position: relative; }

.b-header_title { width: 92px; margin: 4px 0 0 15px; float: left; }
.b-header_menu { float: right; height: 100%; white-space: nowrap; font-size: 0; }
.b-header_menu_item { border-left: 1px solid #e7e7e7; height: 100%; display: inline-block; vertical-align: top; position: relative; overflow: hidden; }

.b-menu_item { font-size: 12px; text-transform: uppercase; color: #494949; }
.b-menu_item_selected { color: white; }
.b-menu_item span { display: block; border-top: 3px solid transparent; padding: 22px 23px 0; text-align: center; position: relative; }
.b-menu_item:hover span { border-top: 3px solid #232323; }

.b-menu_item_bg { top: -100%; background: #232323; -webkit-transition: top 300ms ease-out; transition: top 300ms ease-out; }
.b-menu_item_selected .b-menu_item_bg { top: 0; }

.b-social { width: 70px; }

.b-social_in { -webkit-transition: top 300ms ease-out; transition: top 300ms ease-out; }
.b-social_in_top { top: 0; }
.b-social_in_bottom { top: 100%; }
.b-social:hover .b-social_in_top { top: -100%; }
.b-social:hover .b-social_in_bottom { top: 0; }

.b-social_tw .b-social_in_top, .b-social_tw .b-social_in_bottom { background: url('../img/socials.png') 25px 22px no-repeat; }
.b-social_fb .b-social_in_top, .b-social_fb .b-social_in_bottom { background: url('../img/socials.png') -39px 21px no-repeat; }
.b-social_be .b-social_in_top, .b-social_be .b-social_in_bottom { background: url('../img/socials.png') -103px 21px no-repeat; }



.b-projects_menu { position: relative; }
.b-projects_menu_in { background: #232323; position: relative; left: 0; top: 0; width: 100%; z-index: 100; }
.b-projects_menu_left { float: left; }
.b-projects_menu_right { float: right; }

.b-projects_menu_item_showreel {
    color: white; padding: 25px 10px 5px 55px; display: inline-block; vertical-align: top; font-size: 12px; text-transform: uppercase;
    background: url('../img/showreel.png') 23px 17px no-repeat;
}
.b-projects_menu_item_showreel:hover { background: url('../img/showreel.png') 23px -112px no-repeat; }

.b-projects_menu_item { color: #686868; padding: 25px 0 0 0; margin: 0 14px 0 14px; display: inline-block; vertical-align: top; font-size: 12px; text-transform: uppercase; }
.b-projects_menu_item:hover, .b-projects_menu_item_selected { color: white; }

.b-projects_menu_item em {
    display: inline-block; vertical-align: top; width: 0; height: 11px; background: url('../img/projects_menu_uncheck.png') right bottom no-repeat;
    -webkit-transition: width 300ms ease-out; transition: width 300ms ease-out;
}
.b-projects_menu_item_selected em { width: 15px; }



.b-work_menu_title { color: white; padding: 25px 0 0 25px; display: inline-block; vertical-align: top; font-size: 12px; text-transform: uppercase; }
.b-work_menu_buttons { font-size: 0; }

.b-work_menu_button { background-repeat: no-repeat; display: inline-block; width: 60px; height: 60px; border-left: 1px solid #393939; }
.b-work_menu_button_share { background-image: url('../img/work_share.png'); background-position: center top; }
.b-work_menu_button_left { background-image: url('../img/work_arrows.png'); background-position: left top; }
.b-work_menu_button_right { background-image: url('../img/work_arrows.png'); background-position: right top; }
.b-work_menu_button_close { background-image: url('../img/work_close.png'); background-position: center top; }

.b-work_menu_button:hover { background-color: white; }
.b-work_menu_button_share:hover { background-position: center bottom; }
.b-work_menu_button_left:hover { background-position: left bottom; }
.b-work_menu_button_right:hover { background-position: right bottom; }
.b-work_menu_button_close:hover { background-position: center bottom; }


/************************************************ FOOTER ***************************************************/

.b-footer { height: 360px; position: relative; color: #f2f2f2; }
.b-footer_in { position: relative; height: 100%; background: #232323; }
.b-footer_in2 { position: relative; height: 100%; padding: 0 65px 0 0; }

.b-footer_block_in { padding: 50px 22px 0 25px; }
.b-footer_block_in2 { padding: 0 22px 0 25px; }

.b-footer_form_block { float: left; width: 50%; }

.b-footer_title { font-size: 27px; font-family: 'Gotham', Arial, sans-serif; }
.b-footer_title_1 { padding-bottom: 10px; }
.b-footer_title a { color: #595959; }

.b-footer_socials { position: absolute; left: 25px; bottom: 55px; font-size: 0; }
.b-footer_social {
    display: inline-block; vertical-align: top; border: 2px solid #4c4c4c; border-radius: 50%; width: 38px; height: 38px; margin-right: 10px;
    background-image: url('../img/socials.png'); background-repeat: no-repeat;
}
.b-footer_social:hover { border-color: white; }
.b-footer_social_fb { background-position: 9px -51px; }
.b-footer_social_tw { background-position: -56px -53px; }
.b-footer_social_be { background-position: -118px -52px; }

.b-footer_input { padding: 12px 14px 12px 14px; width: 100%; border: 2px solid #383838; background: #232323; color: #595959; display: block; font-size: 11px; }
.b-footer_textarea { height: 113px; }
.b-footer_input_wrap { padding: 0 14px 0 14px; margin: 0 0 10px -14px; }

.b-footer_footnote { color: #595959; text-align: right; text-transform: uppercase; font-size: 11px; margin: 0 -18px 0 0; }
.b-footer_footnote span { display: inline-block; font-size: 25px; vertical-align: top; line-height: 1; margin-top: -2px; }

.b-footer_button_attach {
    text-transform: uppercase; display: inline-block; vertical-align: top; border: 2px solid #383838; padding: 13px 21px 12px 41px;
    font-size: 11px; background: url('../img/attach.png') 14px center no-repeat;
}
.b-footer_button_attach:hover { border-color: white; }

.b-footer_button_send {
    text-transform: uppercase; display: inline-block; vertical-align: top; border: 2px solid #f2f2f2; padding: 13px 14px 12px 13px; width: 100%; text-align: center; font-size: 11px;
}
.b-footer_button_send span { display: inline-block; vertical-align: top; width: 47px; height: 12px; background: url('../img/arrow.png') center center no-repeat; margin-top: -1px; }




/************************************************** INDEX *****************************************************/

.b-index_slide_content { position: absolute; bottom: 200px; width: 100%; left: 0; }
.b-index_slide_content_in { position: relative; margin: 0 60px; color: white; }

.b-index_slide_title { text-transform: uppercase; font-size: 90%; }
.b-index_slide_text { font-size: 300%; line-height: 1.2; margin-top: 10px; margin-right: 46%; }
.b-index_slide_link { display: inline-block; vertical-align: top; font-size: 90%; margin-top: 30px; text-transform: uppercase; }

.b-index_footer { position: absolute; bottom: 40px; left: 0; width: 100%; color: white; }
.b-index_footer_in { position: relative; margin: 0 40px; height: 100px; }

.b-index_footer_links { position: relative; }
.b-index_footer_links_1 .b-index_footer_bg { left: 0; }
.b-index_footer_links_2 .b-index_footer_bg { left: 20%; }
.b-index_footer_links_3 .b-index_footer_bg { left: 40%; }
.b-index_footer_links_4 .b-index_footer_bg { left: 60%; }
.b-index_footer_links_5 .b-index_footer_bg { left: 80%; }

.b-index_footer_bg {
    position: absolute; top: 0; left: 0; width: 20%; height: 100%; border: 2px solid white;
    -webkit-transition: left 500ms ease-out; transition: left 500ms ease-out; margin: -2px 0 0 -2px;
}
.b-index_footer_link { display: block; float: left; width: 20%; height: 100px; cursor: pointer; position: relative; }

.b-index_footer_link_text { position: absolute; bottom: 11px; left: 15px; line-height: 1.2; font-size: 90%; text-transform: uppercase; }
.b-index_footer_link_num { position: absolute; top: 14px; left: 15px; font-size: 90%; display: none; }
.b-index_footer_link_active .b-index_footer_link_num, .b-index_footer_link:hover .b-index_footer_link_num { display: block; }






/********************************************** ABOUT *****************************************************/

.b-about_text_wrap { padding: 6% 7% 2% 4%; }

.b-about_twitter_bg { background: #0091ff; color: white; }
.b-about_twitter_in { padding: 5% 8% 0 8%; }
.b-about_twitter_img { background: url('../img/socials.png') 0px -61px no-repeat; width: 22px; height: 20px; display: inline-block; vertical-align: top; }
.b-about_twitter_text { font-family: 'GothamMedium', Arial, sans-serif; line-height: 1.4; font-size: 115%; margin-top: 4%; }
.b-about_twitter_link { font-size: 80%; display: block; margin-top: 3%; color: #005cb1; text-transform: uppercase; }
.b-about_twitter_follow { font-size: 65%; display: inline-block; margin-top: 9%; text-transform: uppercase; }

.b-about_clients_wrap { background: #f2f2f2; padding: 4% 2% 6% 2%; }
.b-about_clients_title { text-transform: uppercase; font-size: 400%; font-family: 'GothamBlack', Arial, sans-serif; margin-bottom: 4%; }
.b-about_clients_block { width: 25%; float: left; }

.b-about_clients_items { margin-top: 15%; }
.b-about_clients_items:first-child { margin-top: 0; }
.b-about_clients_item_title { font-family: 'Gotham', Arial, sans-serif; font-size: 180%; margin-bottom: 6%; }
.b-about_clients_item_text { font-size: 100%; font-family: 'GothamMedium', Arial, sans-serif; line-height: 1.4; }






/********************************************** DOWNLOADS *****************************************************/

.b-downloads_wrap { background: #f2f2f2; }
.b-downloads_block { border-top: 1px solid #dedede; }
.b-downloads_block:first-child { border-top: none; }

.b-download_kit { background: #232323; color: #ffffff; }
.b-download_kit_in { padding: 8% 5% 0 4.8%; }
.b-download_kit_title { color: #ffffff; }
.b-download_kit_text { color: #ffffff; margin-top: 5.5%; }
.b-download_kit_line_in_text { background: #ffffff; }
.b-download_kit_button_wrap { position: absolute; left: 4.7%; bottom: 7%; }
.b-download_kit_button { border-color: white; color: white; }

.b-download_pdf { background: url('../img/download_pdf_bg.png') left top repeat-y white; }
.b-download_pdf:first-child { background-image: none; }
.b-download_pdf_in { padding: 10% 10% 0 9%; }
.b-download_pdf_img { width: 55%; margin-bottom: 11%; }
.b-download_pdf_title { font-size: 200%; margin-bottom: 4%; font-family: 'Gotham', Arial, sans-serif; }
.b-download_pdf_text { font-size: 90%; line-height: 1.5; margin-bottom: 3%; font-family: 'GothamMedium', Arial, sans-serif; }
.b-download_pdf_button_wrap { position: absolute; left: 9%; bottom: 7%; }




/*********************************************** PROJECTS *******************************************************/

.b-project { overflow: hidden; }
.b-projects_block { overflow: hidden; }

.b-project_bg { -webkit-transition: top 500ms ease; transition: top 500ms ease; }
.b-project:hover .b-project_bg { top: -30%; }

.b-project_content { background: white; top: 100%; -webkit-transition: top 500ms ease; transition: top 500ms ease; }
.b-project:hover .b-project_content { top: 0; }

.b-project_content_in { padding: 8% 30% 0 8%; }

.b-project_sub_descr { text-transform: uppercase; font-size: 80%; }
.b-project_title { text-transform: uppercase; font-size: 250%; font-family: 'GothamBlack', Arial, sans-serif; margin-top: 3%; line-height: 0.9; }
.b-project_text { font-size: 90%; font-family: 'GothamMedium', Arial, sans-serif; margin-top: 8%; line-height: 1.4; }
.b-project_link {
    text-transform: uppercase; display: inline-block; vertical-align: top; position: absolute; left: 8%; bottom: 7%; padding: 3px 45px 2px 0;
    background: url('../img/arrow_2.png') right center no-repeat; font-size: 80%;
}

.b-project_double .b-project_content_in { padding: 4% 40% 0 4%; }
.b-project_double .b-project_title { margin-top: 1.5%; }
.b-project_double .b-project_text { margin-top: 4%; }
.b-project_double .b-project_link { left: 4%; }





/************************************************ WORK **********************************************************/

.b-work_text_wrap { padding: 6% 7% 0 4%; }
.b-work_text_wrap2 { padding: 7% 14% 0 8%; }

.b-work_slider_buttons { position: absolute; left: 26px; bottom: 26px; }
.b-work_slider_button { display: inline-block; font-size: 0; margin-right: 6px; width: 6px; height: 6px; border: 2px solid white; border-radius: 50%; cursor: pointer; }
.b-work_slider_button_active { background: white; }

.b-work_slider_arrows { cursor: pointer; position: absolute; bottom: 0; right: 0; width: 120px; height: 60px; }
.b-work_slider_arrow { background-color: white; background-image: url('../img/work_arrows.png'); background-repeat: no-repeat; }
.b-work_slider_arrow:hover { background-color: #232323; }
.b-work_slider_arrow_left { background-position: left bottom; }
.b-work_slider_arrow_left:hover { background-position: left top; }
.b-work_slider_arrow_right { background-position: right bottom; }
.b-work_slider_arrow_right:hover { background-position: right top; }

.b-work_more_projects { position: relative; background: white; height: 220px; }
.b-work_more_projects_title {
    font: normal 36px 'GothamBlack', Arial, sans-serif; text-transform: uppercase; width: 200px; position: absolute; left: 30px; bottom: 25px; line-height: 0.9;
}
.b-work_more_projects_arrows { position: absolute; right: 30px; bottom: 25px; }
.b-work_more_projects_arrow {
    display: inline-block; margin-left: 5px; font-size: 0; width: 37px; height: 12px; cursor: pointer;
    background-image: url('../img/projects_more_arrows.png'); background-repeat: no-repeat;
}
.b-work_more_projects_arrow_left { background-position: left top; }
.b-work_more_projects_arrow_left:hover { background-position: left bottom; }
.b-work_more_projects_arrow_right { background-position: right top; }
.b-work_more_projects_arrow_right:hover { background-position: right bottom; }

.b-work_block_grey { background: url('../img/work_block_1.png') 9% 94% no-repeat #232323; }
.b-work_text_block_1 { margin-bottom: 8%; color: white; }
.b-work_title_1 { font-size: 80%; text-transform: uppercase; margin-bottom: 2%; }
.b-work_descr_1 { font-size: 180%; font-family: 'Gotham', Arial, sans-serif; }

.b-work_block_white { background: url('../img/work_block_2.png') 9% 94% no-repeat; }
.b-work_text_block_2 { margin-bottom: 8%; }
.b-work_title_2 { font-size: 80%; font-family: 'GothamMedium', Arial, sans-serif; text-transform: uppercase; margin-bottom: 2%; color: #737373; }
.b-work_descr_2 { font-size: 110%; font-family: 'GothamMedium', Arial, sans-serif; }




















