/***************************************************************************************************/

@media only screen and (min-width: 941px) and (max-width: 1100px) {
    .b-projects_head_title { padding: 0 0 25px 0; float: none; text-align: center; }
}

/******************************************* PDA VERSION ********************************************/

@media only screen and (min-width: 631px) and (max-width: 940px) {

    .b-wrap_in { padding-left: 20px; padding-right: 20px; }
    .b-wrap_in2 { padding-left: 20px; padding-right: 20px; }


    .b-header__menu_item { margin-left: 20px; font: italic 300 28px Roboto, sans-serif; }


    .b-projects_head_title { padding: 0 0 25px 0; float: none; text-align: center; }
    .b-pages_head_item { padding: 20px 10px; }
    .b-pages_item_text { font-size: 15px; }
}

/*************************************** MOBILE VERSION **********************************************/

@media only screen and (max-width: 630px) {
    h1 { margin-bottom: 15px; font: normal 700 38px Roboto, Arial, sans-serif; }
    h2 { margin-bottom: 10px; font: normal 700 32px Roboto, Arial, sans-serif; }
    h3 { margin-bottom: 10px; font: normal 700 28px Roboto, Arial, sans-serif; }
    h4 { margin-bottom: 10px; font: normal 700 24px Roboto, Arial, sans-serif; }
    h5 { margin-bottom: 10px; font: normal 700 20px Roboto, Arial, sans-serif; }
    h6 { margin-bottom: 10px; font: normal 700 18px Roboto, Arial, sans-serif; }

    .b-wrap_in { padding-left: 0; padding-right: 0; }
    .b-wrap_in2 { padding-left: 0; padding-right: 0; }

    .b-header__img { float: none; text-align: center; padding: 10px 0 10px; }
    .b-header__menu { float: none; }
    .b-header__menu_item { float: none; padding: 5px 0 5px 0; text-align: center; margin: 0; font-size: 25px; }
    .b-header__menu_item_active { color: #969696; font-weight: 300; background: #f2f2f2; }

    .b-projects_head { text-align: center; }
    .b-projects_head_title { padding: 20px 0 10px 0; float: none; text-align: center; }
    .b-pages_head_item { padding: 16px 5px; float: none; display: inline-block; }
    .b-pages_item_text { font-size: 15px; }
    .b-project_video_text { font: normal 100 20px Roboto, Arial, sans-serif; }

    .b-main_text { text-align: center; font-size: 23px; }
    .b-about_text { font: normal 300 11px Roboto, Arial, sans-serif; }
    .b-head__bottom_content { padding-top: 15px; padding-bottom: 15px; }

    .b-footer { height: 150px; }
    .b-footer__email { float: none; display: block; font: italic 300 16px Roboto, sans-serif; margin: 0px; position: absolute; top: 20px; left: 10px; }
    .b-footer__tel { float: none; font: italic 300 16px Roboto, sans-serif; margin: 0; position: absolute; top: 60px; left: 10px; }
    .b-footer__socials { float: none; position: absolute; bottom: 20px; left: 0; right: 0; margin: 0; text-align: center; }
    .b-footer__download { font: italic 700 16px Roboto, sans-serif; position: absolute; top: 20px; right: 10px; }
    .b-footer__download span { padding: 0; font: italic 700 16px Roboto, sans-serif; }
    .b-download_panel_wrap { display: none !important; }

    .b-slider_arrow { width: 50px; height: 50px; }
    .b-slider_arrow_left { background-position: 0px -251px; }
    .b-slider_arrow_right { background-position: -151px -251px; }
    .b-slider_arrow_left.b-slider_arrow_disabled { background-position: 0px -190px; }
    .b-slider_arrow_right.b-slider_arrow_disabled { background-position: -150px -190px; }

    .b-slider_buttons { display: none; }
}