/* =====================================================================
					        PAGES WITH HEIGHT 100% STYLE
======================================================================== */

html, body { width: 100%; height: 100%; }

/******************************************************************** MAIN *******************************************************************************/

.b-index_slide_content { position: absolute; bottom: 200px; width: 100%; left: 0; }
.b-index_slide_content_in { position: relative; margin: 0 60px; color: white; }

.b-index_slide_title { text-transform: uppercase; font-size: 12px; }
.b-index_slide_text { font-size: 34px; line-height: 1.2; margin-top: 10px; width: 530px; }
.b-index_slide_link {
    display: inline-block; vertical-align: top; font-size: 12px; padding: 2px 50px 2px 0; margin-top: 30px; text-transform: uppercase;
    background: url('../img/arrow.png') right center no-repeat;
}



.b-index_footer { position: absolute; bottom: 40px; left: 0; width: 100%; color: white; }
.b-index_footer_in { position: relative; margin: 0 40px; height: 100px; }

.b-index_footer_links { position: relative; }
.b-index_footer_links_1 .b-index_footer_bg { left: 0; }
.b-index_footer_links_2 .b-index_footer_bg { left: 20%; }
.b-index_footer_links_3 .b-index_footer_bg { left: 40%; }
.b-index_footer_links_4 .b-index_footer_bg { left: 60%; }
.b-index_footer_links_5 .b-index_footer_bg { left: 80%; }

.b-index_footer_bg {
    position: absolute; top: 0; left: 0; width: 20%; height: 100%; border: 2px solid white;
    -webkit-transition: left 500ms ease-out; transition: left 500ms ease-out; margin: -2px 0 0 -2px;
}
.b-index_footer_link { display: block; float: left; width: 20%; height: 100px; cursor: pointer; position: relative; }

.b-index_footer_link_text { position: absolute; bottom: 11px; left: 15px; line-height: 1.6; font-size: 12px; text-transform: uppercase; }
.b-index_footer_link_num { position: absolute; top: 14px; left: 15px; font-size: 12px; display: none; }
.b-index_footer_link_active .b-index_footer_link_num, .b-index_footer_link:hover .b-index_footer_link_num { display: block; }