html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,
kbd,q,s,samp,small,strike,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
	margin:0;
	padding:0;
	border:0;
	line-height:1;
	font-family:inherit;
	text-align:left;
	vertical-align:baseline;
    font-weight: normal;
    text-decoration: none;
    outline: none;
}

a img,:link img,:visited img
{
	border:0;
}

table
{
	border-collapse:collapse;
	border-spacing:0;
}

ol,ul
{
	list-style:none;
}

q:before,q:after,blockquote:before,blockquote:after
{
	content:"";
}

input {
    outline: none;
}