/* =====================================================================
					        SIMPLE PAGES STYLE
======================================================================== */


/****************************************** COMMON ****************************************************/

.b-red_bg { position: relative; height: 430px; background: #cc1d1d; color: white; }
.b-red_bg_title { font-size: 60px; font-family: 'GothamBlack', Arial, sans-serif; padding-top: 190px; text-transform: uppercase; text-align: center; }
.b-red_bg_line { height: 1px; width: 45px; border-top: 2px solid white; text-align: center; margin: 30px auto 0; }
.b-red_bg_text { font-size: 14px; width: 400px; margin: 30px auto 0; font-family: 'GothamMedium', Arial, sans-serif; text-align: center; }

.b-block { position: relative; float: left; height: 100%; overflow: hidden; }
.b-half_block { position: relative; height: 50%; overflow: hidden; }
.b-block_50 { width: 50%; }
.b-block_40 { width: 40%; }
.b-block_20 { width: 20%; }

.b-text_wrap { padding: 6% 7% 2% 4%; }
.b-title { font-size: 200%; font-family: 'Gotham', Arial, sans-serif; line-height: 1.3; color: #232323; }
.b-text { font-size: 90%; font-family: 'GothamMedium', Arial, sans-serif; margin-top: 4%; line-height: 1.7; color: #232323; }
.b-line_in_text { display: inline-block; height: 2px; width: 40px; background: #000000; vertical-align: middle; }

