html, body {
    height: 100%;
}
#wrap {
    height: auto;
    margin: 0 auto -60px;
    min-height: 100%;
    padding: 0 0 60px;
}
#footer {
    background-color: #F5F5F5;
    height: 60px;
}
#wrap > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}
#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
code {
    font-size: 80%;
}

.tags .tag
{
    display: block;
    padding: 8px;
    border: 1px solid #000000;
}

.project_images
{
    overflow: hidden;
}

.project_images #images_container
{
    overflow: hidden;
    border: 1px solid #000000;
}

.project_image
{
    overflow: hidden;
}
.project_image #project_image_container
{
    width: 109px;
    height: 77px;
    cursor:pointer;
    float: left;
}

.project_image .image_preview .prev_image
{
    overflow: hidden;
    width: 109px;
    height: 77px;
    border: 1px solid #000000;
    float: left;
    margin: 0 3px 3px 0;
}
.project_images #images_container
{
    width: 109px;
    height: 77px;
    cursor:pointer;
}

.project_images .images
{

}

.project_images .images .project_image
{
    overflow: hidden;
    width: 109px;
    height: 77px;
    border: 1px solid #000000;
    float: left;
    margin: 0 3px 3px 0;
}

.tagList i.glyphicon-remove
{
    top: 3px;
    margin: 0 0 0 4px;
    cursor: pointer;
}

.tagList .label.label-primary
{
    margin: 2px 4px 2px 0;
    float: left;
}

.tagList
{
    overflow: hidden;

    border: 2px solid #BDC3C7;
    border-radius: 6px;
    box-shadow: none;
    color: #34495E;
    font-family: "Lato",Helvetica,Arial,sans-serif;
    font-size: 18px;
    height: auto;
    line-height: 1.467;
    padding: 8px 12px;
    transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
}

.tagList .items
{
    /*overflow: hidden;
    float: left;*/
}

#input_tags
{
    width: 100px;
}

.credits-blocks .credits-block i.glyphicon-remove
{
    float: right;
    cursor: pointer;
}

.credits-blocks .credits-block
{
    overflow: hidden;
    margin: 0 0 20px 0;

    background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 7px;
    padding: 5px 4px 4px;
}

fieldset {
    position: relative;
}

fieldset legend > i, .descriptionBlock > i{
    float: right;
}

i.glyphicon-remove {
    cursor: pointer!important;
}

.images > div {
    margin-left: 20px!important;
    float: left!important;
}

.images .btn-danger {
    height: 28px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px 4px;
}

.clearFix {
    clear: both;
}
